.table {
	display : table;
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
	position:relative;
}
.table > div {
	display: table-cell;
	width: 100%;
}
td {
	text-align: center;
}
h1 {
	font-style:italic;
	font-weight:bold;
	font-family: Georgia,serif;
	text-shadow:2px 2px #000000;
}

.closeButton {
	margin:0px;
	color:white;
	cursor:pointer;
}
.closeButton:hover {
	color:yellow;
}

.code > h1 {
	color:red;
}

.docs > h1 {
	color:#1111FF;
}

.test > h1 {
	color:green;
}

.code, .docs, .test {
}

.block {
	overflow:auto;
}

h1 .button {
  position:relative;
  padding:0; margin:0;
  cursor: pointer;
  text-decoration:none;
  color:inherit; /*grabs color form parent element*/
}

h1 .button:before {
    content:"";
    position:absolute;
    display:inline-block;
    left:-0.05em;
    top:6px;
    border-radius: 50%;
    width:0.5em;
    height:0.5em;
    font-size:1.4em;
    z-index:-1;
    border-style:solid;
}

h1 .button:hover {
	color:#000000;
}

h1 .button:active {
	color:#FFFFFF;
}