div#title {
  /*Gives the definition of the box containing the input */
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  border-style: solid;
  border-color:red;
  text-align: center;
  
  /*Background of title elements*/
  background: linear-gradient(45deg,transparent 50%,white 50%), linear-gradient(-45deg,blue 50%,white 50%);
  background-size: 350px 20px;
  background:hover{
    width:300px;
    
  }
 div.inline {
	display: inline;
	}
  
